body{
  background-color: grey;
}
.circle{
  position:relative;
  width:250px;
  height:250px;
  float:left;
  margin:20px;
  background: black;
  background-size:cover;
  border-radius: 50%;
  overflow:hidden;
}
#circ1{
  background-image: url('bg1.jpg');
}
#circ2{
  background-image: url('bg2.jpg');
}

.circle > div{
  position:absolute;
  height:50px;
  padding:100px 0;
  width:100%;
  text-align:center;
  top: 250px;
  background:#fff;
  transition: top 0.5s;
  -webkit-transition: top 0.5s;
}
.circle:hover > div{
  top:0;
}
