body{
  background-image: url('https://i.pinimg.com/originals/ef/7f/b1/ef7fb1b37078b6a2aef8e40710446bfa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
.box{
  width: 300px;
  height: 300px;
}
#fartsmaler{
  font-weight: bold;
  font-size: 32px;
  margin-top: -100px;
  position: relative;
  width: 100%;
  text-align: center;
}
#input{
  position: relative;
  z-index: 10;
  margin-top: 30px;
  width: 300px;
  display: flex;
  justify-content: center;
}
#input2{
  position: relative;
  z-index: 10;
  margin-top: 30px;
  width: 300px;
  display: flex;
  justify-content: center;
}
.circle{
  position:relative;
  width: 100px;
  height: 100px;
  float:left;
  margin:20px;
  background: rgba(0, 0, 0, 0.2);
  background-size:cover;
  border-radius: 50%;
  overflow:hidden;
}
.circle > div{
  position:absolute;
  height:50px;
  padding:100px 0;
  width:100%;
  text-align:center;
  top: 100px;
  background: orange;
}
.fa-gas-pump{
  margin-left: 30px;
  margin-top: 24px;
  color: grey;
  position: relative;
  z-index: 10;
}
.circleAnimation {
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
  0%{opacity: 1;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}
