.box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}
.circle{
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border: 10px solid;
  border-color: blue blue transparent blue;
  max-width: 100%;
}
